/* error-dialog.component.scss */
.error-dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .error-icon {
    transform: scale(2);
    color: red;
    margin: 15px;
  }
  
  h2 {
    margin: 10px 0;
    color: #f44336;
  }
  
  p {
    color: rgba(0, 0, 0, 0.7);
  }

  .confirm-button{
    background-color: #f44336 !important;
    color: white;
  }
  