<!-- toolbar -->
<mat-toolbar class="header-toolbar">

  <!-- text links for desktop -->
  <div class="toolbar-innercontainer">
    <div>
      <h2 class="text-links" style="color: #ff4081;">TweetX</h2>
    </div>
    <div fxLayout="row">

      <span class="text-links sub-links" (click)="navigateFeed()">Feed</span>

      <span class="text-links sub-links" (click)="navigateUser()">User</span>

      <span class="text-links sub-links" (click)="navigateProfile()">Profile</span>

      <span (click)="logout()" class="material-symbols-outlined">logout</span>

    </div>

  </div>

</mat-toolbar>



  <div *ngIf="profile">
    <app-view-profile></app-view-profile>
  </div>

  <div *ngIf="feed">
    <app-feed></app-feed>
  </div>

  <div *ngIf="user">
    <app-user></app-user>
  </div>
