.tweet-word {
    font-size: 26px;
    color: #ff4081;
    font-family: system-ui;
    font-weight: 600;
}

.account-btn {
    border: 1px solid;
    border-radius: 10px;
    padding: 20px;
    font-weight: 500;
    font-family: system-ui;
}

.login-text {
    font-size: 35px;
    line-height: 55px;
    font-family: serif;
    font-weight: 500;
}

.forgot-text {
    font-size: 16px;
    font-family: system-ui;
    font-weight: 600;
    margin-top: 10px;
}

mat-form-field {
    width: 300px;
}

.signup-form div {
    margin-bottom: 20px;
}

.login-form mat-form-field {
    margin-bottom: 10px;

}

.login-btn {
    padding: 10px 25px;
    font-weight: 300;
    background: #ff4081 !important;
    color: white !important;
}

.account-btn {
    background: #ff4081 !important;
    color: white !important;
}

.login-btn:hover {
    background: transparent !important;
    color: #ff4081 !important;
    border: 1px solid #ff4081;
}

.account-btn:hover {
    background: transparent !important;
    color: #ff4081 !important;
    border: 1px solid #ff4081;
}

@media screen and (max-width:1080px) {

    .inner-container {
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        place-content: center;
        align-items: center;
    }

    .login-container {
        padding: 35px;
    }

    .banner-img {
        max-height: 300px;
    }
}

@media screen and (min-width:1081px) {

    .inner-container {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 150px;
        max-width: 1800px;
        margin: auto;
        padding: 25px;
    }
}

@media screen and (min-width:1200px) {

    .whole-container {
        height: 100%;
    }
}

.alert {
    padding: 15px;
    background-color: rgb(255 32 15 / 80%);
    color: white;
    margin: 25px 0px;
    width: 270px;
    font-size: 16px;
    font-family: system-ui;
    border-radius: 8px;
}