/* Font Styles */
.tweet-word {
    font-size: 26px;
    color: #ff4081;
    font-family: system-ui;
    font-weight: 600;
}

.login-text {
    font-size: 35px;
    line-height: 55px;
    font-family: serif;
    font-weight: 500;
}

.forgot-text {
    font-size: 16px;
    font-family: system-ui;
    font-weight: 600;
    margin-top: 10px;
}

/* Form Styles */
mat-form-field {
    width: 300px;
}

mat-error {
    margin: 4px -8px;
    font-size: 12px;
}

.signup-form div {
    margin-bottom: 20px;
}

.login-form mat-form-field {
    margin-bottom: 10px;
}

/* Button Styles */
.login-btn,
.account-btn {
    padding: 10px 25px;
    font-weight: 300;
    background: #ff4081 !important;
    color: white !important;
    border: 1px solid #ff4081 !important;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.login-btn:hover,
.account-btn:hover {
    background: transparent !important;
    color: #ff4081 !important;
}

/* Media Queries */
@media screen and (max-width: 1080px) {
    .inner-container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px;
    }

    .banner-img {
        max-height: 300px;
    }
}

@media screen and (min-width: 1081px) {
    .inner-container {
        flex-direction: row;
        display: flex;
        align-items: center;
        gap: 150px;
        max-width: 1800px;
        margin: auto;
        padding: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .whole-container {
        height: 100%;
    }
}

/* Alert Styles */
.alert {
    padding: 15px;
    background-color:rgb(255 89 145);
    color: white;
    margin: 20px 0 35px;
    width: 270px;
    font-size: 16px;
    font-family: system-ui;
    border-radius: 8px;
}