.sidenav-container {
    height: 100vh;
  }
  
  mat-icon{
    cursor: pointer;
  }

  mat-nav-list mat-icon{
    margin: -7px 10px;
  }

  h2{
    font-size: 18px !important;
    padding-top: 2px;
  }
  
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 100;
    gap: 60px;
    background: #ff4081;
    padding: 30px 15px;
    color: white;
  }
  
  .mat-drawer.mat-drawer-side {
    width: 100%;
  }
  
  a.mdc-list-item {
    padding: 30px;
  }
  
  a.mdc-list-item:hover{
   background: #eaeaea;
  }
  
  @media screen and (min-width:980px) {
  
    .mat-drawer.mat-drawer-side {
      width: 280px;
    }
  
    .close-icon {
      display: none;
    }
  
    a.mdc-list-item {
      width: 280px;
      margin: 5px 0px;
      background: #a6a6a608;
      border-radius: 8px;
    }
  
  }