.body{
    position: relative;
    top: 110px;
    max-width: 680px;
    display: flex;
    place-content: center;
    flex-direction: column;
    margin: auto;
}

.write-btn{
    padding: 15px 25px;
    margin: 20px;
    font-size: 16px;
    font-family: system-ui;
}


.note-input-container {
    margin: 20px;
    width: 100%;
  }

  .note-input-container button {
    margin : 20px 20px 20px 0px;
  }

  
  .add-note-input {
    width: 85%;
    padding: 20px 13px 190px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    resize: vertical;
  }

  img{
    width: 100px;
  }

  mat-card{
    margin: 20px;
    padding: 25px;
    border-radius: 8px;
  }

  .title{
    font-size: 23px;
    line-height: 40px;
    font-weight: 500;
    font-family: system-ui
  }

  .value{
    font-size: 15px;
    line-height: 30px;
    font-family: system-ui;
    color: #505050;
  }

  

  .date-value{
    font-weight: 300;
    color: #9d9d9d;
    margin-top: 2px;
  }


  @media screen and (max-width:520px) {
    
    .value{
      font-size: 12px;
      line-height: 25px;
    }
    .title {
      font-size: 20px;
      line-height: 30px;
    }
  }
  