<div  #scrollUp>
<div class="body">
    <!-- Add post field -->
    <div *ngIf="showPost">
        <form [formGroup]="form">
          <div class="note-input-container">
            <!-- Input field for feed post -->
            <textarea matInput [formControl]="form.controls['content']" class="add-note-input" wrap="hard"></textarea>
            
            <!-- Emoji icon/button to trigger emoji picker -->
            <div fxLayout="row" fxLayoutAlign="end" class="emoji-icon-container">
              <mat-icon (click)="toggleEmojiPicker()" class="emoji-icon">insert_emoticon</mat-icon>
            </div>
            
            <!-- Emoji picker -->
            <div class="emoji-picker-container" *ngIf="showEmojiPicker">
              <emoji-mart (emojiClick)="insertEmoji($event)"></emoji-mart>
            </div>
            
            <!-- Cancel button for feed post -->
            <button mat-flat-button color="accent" (click)="handlePostView('cancel')">Cancel</button>
            
            <!-- Post button for feed post -->
            <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="post()">Post</button>
          </div>
        </form>
      </div>
      

    <div>

          <!-- Add post button -->
          <div fxLayout="row" fxLayoutAlign="end end" *ngIf="showButton">
            <button mat-raised-button class="post-btn" color="accent" (click)="handlePostView('post')">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <!-- Show list of user post (only following status) -->
        <div *ngFor="let user of userPost,let i=index">
            <mat-card class="mat-elevation-z8">
                <div fxLayout="row" fxLayoutGap="25px">
                    <div fxLayout="row" fxLayoutAlign="center center" style="width: 30%;">
                        <ngx-skeleton-loader *ngIf="loader" appearance="circle" animation="pulse"
                            [theme]="{ width: '105px', height: '105px' }"></ngx-skeleton-loader>
                        <img [src]="!loader ? user.profileImg : ''" *ngIf="!loader">
                    </div>
                    <div fxLayout="column" fxLayoutAlign="space-between" style="width: 70%;">
                        <div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="5px">
                            <!-- Ngx-skeleton-loader -->
                            <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse"
                                [theme]="{ width: '80px', height: '20px' }"></ngx-skeleton-loader>
                            <p class="title" *ngIf="!loader">{{user.name}}</p>
                            <!-- Ngx-skeleton-loader -->
                            <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse"
                                [theme]="{ width: '60px', height: '20px' }"></ngx-skeleton-loader>
                            <p class="date-value" *ngIf="!loader">{{user.date}}</p>      
                        </div>
                        <!-- Ngx-skeleton-loader -->
                        <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse"
                            [theme]="{ width: '100%', height: '13vh' }"></ngx-skeleton-loader>
                        <p class="value" *ngIf="!loader">{{user.content}}</p>

                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-icon class="like-icon" [ngClass]="{'liked': likedProduct[i]}" (click)="handleLike(i)">
                                {{ likedProduct[i] ? 'favorite' : 'favorite_border' }}
                            </mat-icon>

                            <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse"
                            [theme]="{ width: '60px', height: '20px' }"></ngx-skeleton-loader>
                        <p class="time-value" *ngIf="!loader">{{user.time}}</p> 

                        </div>

                    </div>
                </div>
            </mat-card>
        </div>

        <!-- Show no feed post content -->
        <div *ngIf="showNoFeedPost" fxLayout="row" fxLayoutAlign="center center" style="height: 60vh;">
            <div *ngIf="loader" fxLayout="column" fxLayoutAlign="space-around center">
                <!-- Ngx-skeleton-loader -->
                <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse"
                    [theme]="{ width: '450px', height: '5vh'}"></ngx-skeleton-loader>
                <!-- Ngx-skeleton-loader -->
                <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse"
                    [theme]="{ width: '225px', height: '5vh' }"></ngx-skeleton-loader>
            </div>
            <h2 class="big-text" *ngIf="!loader">
                Please follow some friends who have posted feed content.
            </h2>
        </div>
    </div>
</div>
</div>
