<div class="body">

    <div *ngIf="showWriteButton">
        <button mat-raised-button class="write-btn-1" color="accent" (click)="handlePostView('post')">Add Post</button>
    </div>

    <div *ngIf="showPost">

        <form [formGroup]="form">

            <div class="note-input-container">

                <textarea matInput [formControl]="form.controls['content']" class="add-note-input"
                    wrap="hard"></textarea>

                <button mat-flat-button (click)="handlePostView('cancel')">cancel</button>

                <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="post()">Post</button>

            </div>

        </form>

    </div>

    <div>

        <div *ngFor="let user of userPost">

            <mat-card class="mat-elevation-z8">

                <div fxLayout="row" fxLayoutGap="30px">

                    <div fxLayout="row" fxLayoutAlign="center center" style="width: 30%;">

                        <ngx-skeleton-loader *ngIf="loader" appearance="circle" animation="pulse"
                            [theme]="{ width: '105px', height: '105px' }"></ngx-skeleton-loader>

                        <img [src]="!loader ? user.profileImg : ''" *ngIf="!loader">
                    </div>

                    <div fxLayout="column" fxLayoutAlign="space-between" style="width: 70%;">

                        <div fxLayout="row wrap" fxLayoutAlign="space-between center">

                            <!--  ngx-skeleton-loader -->
                            <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse"
                                [theme]="{ width: '80px', height: '20px' }"></ngx-skeleton-loader>

                            <p class="title" *ngIf="!loader">{{user.name}}</p>

                            <!--  ngx-skeleton-loader -->
                            <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse"
                                [theme]="{ width: '60px', height: '20px' }"></ngx-skeleton-loader>
                            <p class="date-value" *ngIf="!loader">{{user.time}}</p>
                        </div>

                        <!--  ngx-skeleton-loader -->
                        <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse"
                            [theme]="{ width: '100%', height: '13vh' }"></ngx-skeleton-loader>

                        <p class="value" *ngIf="!loader">{{user.content}}</p>

                    </div>

                </div>

            </mat-card>

        </div>

        <div fxLayout="row" fxLayoutAlign="end end" *ngIf="showButton">
            <button mat-raised-button class="write-btn" color="accent" (click)="handlePostView('post')"><mat-icon>
                    add
                </mat-icon></button>
        </div>

    </div>

</div>