<div class="body">

    <!--back button -->
    <div fxLayout="row" fxLayoutALign="start" *ngIf="showBackButton">
        <button mat-flat-button class="back-btn" (click)="navigateAllUsers()">Back</button>
    </div>

    <!-- Profile Header -->
    <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="profile-container">
            <!-- Profile Image and Avatar Button -->
            <div fxLayout="column" fxLayoutAlign="center center">
                <img [src]="person"  alt="Profile Image" class="profile-img"/>
                <button *ngIf="showEditButton" mat-flat-button class="avatar-button" (click)="openModal()">Edit Avatar
                </button>
            </div>

            <!-- User Information -->
            <div fxLayout="column" fxLayoutAlign="space-between" class="adjust-container">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="7px">
                    <h2 class="title">{{ userDetails.name }}</h2>
                </div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-evenly center" class="adjust-container-1">
                    <!-- Number of Posts -->
                    <span class="value" fxLayout="column" style="gap: 10px;">
                        Post
                        <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse" [theme]="{ width: '40px', height: '20px' }"></ngx-skeleton-loader>
                        <strong *ngIf="!loader">{{ userPost.length }}</strong>
                    </span>
                    <!-- Number of Followers -->
                    <span class="value" fxLayout="column" style="gap: 10px;">
                        Follow
                        <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse" [theme]="{ width: '40px', height: '20px' }"></ngx-skeleton-loader>
                        <strong *ngIf="!loader">{{ followerData.length }}</strong>
                    </span>
                    <!-- Number of Following -->
                    <span class="value" fxLayout="column" style="gap: 10px;">
                        Following
                        <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse" [theme]="{ width: '40px', height: '20px' }"></ngx-skeleton-loader>
                        <strong *ngIf="!loader">{{ followingData.length }}</strong>
                    </span>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>

    <!-- Profile Navigation -->
    <div fxLayout="row" fxLayoutAlign="space-around center" class="mat-container">
        <!-- Post Section -->
        <div fxLayout="row" fxLayoutGap="10px" (click)="handleProfileView('POST')">
            <span class="material-symbols-outlined">chat</span>
            <p class="h-label" [ngClass]="{'selected': selectedView === 'POST'}">Post</p>
        </div>
        <!-- Follow Section -->
        <div fxLayout="row" fxLayoutGap="10px" (click)="handleProfileView('FOLLOW')">
            <span class="material-symbols-outlined">person_add</span>
            <p class="h-label" [ngClass]="{'selected': selectedView === 'FOLLOW'}">Follow</p>
        </div>
        <!-- Following Section -->
        <div fxLayout="row" fxLayoutGap="10px" (click)="handleProfileView('FOLLOWING')">
            <span class="material-symbols-outlined">group</span>
            <p class="h-label" [ngClass]="{'selected': selectedView === 'FOLLOWING'}">Following</p>
        </div>
    </div>
    

    <!-- User Posts -->
    <div *ngIf="showPost">
        <div *ngFor="let user of userPost">
            <mat-card class="mat-elevation-z8">
                <div fxLayout="row" fxLayoutGap="30px">
                    <!-- User Profile Image -->
                    <div fxLayout="row" fxLayoutAlign="center center" style="width: 30%;">
                        <ngx-skeleton-loader *ngIf="loader" appearance="circle" animation="pulse" [theme]="{ width: '85px', height: '85px' }"></ngx-skeleton-loader>
                        <img [src]="!loader ? person : ''" *ngIf="!loader" class="post-img" alt="Post Image" />
                    </div>
                    <!-- Post Details -->
                    <div fxLayout="column" fxLayoutAlign="space-between" style="width: 70%;">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <!-- User Name -->
                            <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse" [theme]="{ width: '100px', height: '20px' }"></ngx-skeleton-loader>
                            <p class="title-1" *ngIf="!loader">{{ user.name }}</p>
                            <!-- Post Time -->
                            <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse" [theme]="{ width: '80px', height: '20px' }"></ngx-skeleton-loader>
                            <p class="date-value" *ngIf="!loader">{{ user.date }}</p>
                        </div>
                        <!-- Post Content -->
                        <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse" [theme]="{ width: '100%', height: '10vh' }"></ngx-skeleton-loader>
                        <p class="value-1" *ngIf="!loader">{{ user.content }}</p>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <!-- Followers -->
    <div *ngIf="showFollower">
        <div *ngFor="let user of followerData; let i = index">
            <mat-card class="mat-elevation-z8 card">
                <div fxLayout="row" fxLayoutAlign="space-evenly">
                    <!-- Follower Profile Image -->
                    <div fxLayout="row" fxLayoutAlign="center center" style="width: 30%;">
                        <ngx-skeleton-loader *ngIf="loader" appearance="circle" animation="pulse" [theme]="{ width: '80px', height: '80px' }"></ngx-skeleton-loader>
                        <img [src]="!loader ? user.profileImg : ''" *ngIf="!loader" class="post-img" alt="Follower Image" />
                    </div>
                    <!-- Follower Information -->
                    <div fxLayout="column" fxLayoutAlign="center" style="width: 65%;">
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="user-action-container">
                            <!-- Follower Name -->
                            <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse" [theme]="{ width: '120px', height: '30px', position: 'relative', top: '6px' }"></ngx-skeleton-loader>
                            <p class="title-1" *ngIf="!loader">{{ user.name }}</p>
                            <!-- Follow Button -->
                            <div>
                                <button mat-flat-button color="accent" class="follow-btn" [disabled]="loader" (click)="followAction(user, i)" [disabled]="disableFollowButtons">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

    <!-- Following -->
    <div *ngIf="showFollowing">
        <div *ngFor="let user of followingData; let i = index">
            <mat-card class="mat-elevation-z8 card">
                <div fxLayout="row" fxLayoutAlign="space-evenly">
                    <!-- Following Profile Image -->
                    <div fxLayout="row" fxLayoutAlign="center center" style="width: 30%;">
                        <ngx-skeleton-loader *ngIf="loader" appearance="circle" animation="pulse" [theme]="{ width: '80px', height: '80px' }"></ngx-skeleton-loader>
                        <img [src]="!loader ? user.profileImg : ''" *ngIf="!loader" class="post-img" alt="Following Image" />
                    </div>
                    <!-- Following Information -->
                    <div fxLayout="column" fxLayoutAlign="center" style="width: 65%;">
                        <div fxLayout="row" fxLayoutAlign="space-between center" class="user-action-container">
                            <!-- Following Name -->
                            <ngx-skeleton-loader *ngIf="loader" appearance="line" animation="pulse" [theme]="{ width: '120px', height: '30px', position: 'relative', top: '6px' }"></ngx-skeleton-loader>
                            <p class="title-1" *ngIf="!loader">{{ user.name }}</p>
                            <!-- Following Button -->
                            <div>
                                <button mat-flat-button color="accent" class="following-btn" [disabled]="loader" (click)="unFollowAction(user, i)" [disabled]="disableFollowButtons">Following</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>