img {
    width: 120px;
    border-radius: 50%;
}

.mat-container {
    margin: 20px 10px;
}

.body {
    overflow-x: hidden;
}

.avatar-button {
    padding: 10px 15px;
    border: 1px solid #ff4081;
    font-size: 12px;
    font-family: system-ui;
    border-radius: 5px;
    color: #ff4081 !important;
    cursor: pointer;
    height: 32px !important;
    position: relative;
    top: 25px;
    white-space: nowrap;
}

.avatar-button:hover {
    background-color: #ff4081;
    color: white !important;
    border: 1px solid white;
}


.title {
    font-size: 26px;
    line-height: 40px;
    font-weight: 500;
    font-family: system-ui;
}

.value {
    font-size: 18px;
    color: #787878;
    line-height: 30px;
    font-family: system-ui;
    font-weight: 400;
}

mat-divider {
    width: 100%;
    margin: 20px;
    border: 1px solid #dedede;
}

.h-label {
    font-size: 20px;
    font-family: system-ui;
    color: #838383;
    cursor: pointer;
}

.h-label:hover {
    color: #ff4081;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.card {
    margin: 25px 15px;
    padding: 15px;
    border-radius: 15px;
}

mat-card {
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
}

.title-1 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin-right: 15px;
    font-family: system-ui;
}

.value-1 {
    font-size: 16px;
    line-height: 35px;
    font-family: system-ui;
    color: #505050;
}

.date-value {
    font-weight: 300;
    color: #6e6e6e;
    margin-top: 8px;
    font-size: 14px;
}

.post-img {
    width: 75px;
    box-shadow: 1px 1px 10px 5px #ff759da8;
}

.following-btn {
    background-color: white !important;
    border: 1px solid #ff4081;
    color: #ff4081 !important;
}

.follow-btn {
    padding: 10px 30px;
    background-color: #ff4081 !important;
    color: white !important;
}

.adjust-container {
    padding: 40px 60px;
}

strong {
    color: black;
    text-align: center;
}

.profile-container {
    padding: 20px;
}

.mat-container .selected {
    color: #ff4081;
}

@media screen and (max-width: 520px) {

    .avatar-button {
        padding: 8px 8px;
        font-size: 10px;
        height: 28px;
    }

    .h-label {
        font-size: 16px;
    }

    .value {
        font-size: 16px;
    }

    button {
        font-size: 12px;
    }

    .title-1 {
        font-size: 16px;
    }

    .value-1 {
        font-size: 12px;
        line-height: 22px;
    }

    .date-value {
        font-size: 10px;
    }
    .post-img {
        width: 60px;
    }
}

@media screen and (max-width: 480px) {
    .profile-container {
        flex-direction: column !important;
        position: relative;
        top: 15px;
        padding: 0px;
    }

    .title {
        white-space: nowrap;
        line-height: 75px;
        margin: auto;
    }

    .adjust-container {
        padding: 30px 0px;
    }

    .adjust-container-1 {
        margin-left: 30px;
    }
}

@media screen and (max-width: 380px) {

    .user-action-container{
        flex-direction: column !important;
    }

    .post-img {
        width: 50px;
    }

    .title-1 {
        font-size: 14px;
        text-align: center;
    }
}
